.cardHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
}

.cards {
    display: flex;
    flex-direction: column;
}

.firstRowCards, .secondRowCards, .thirdRowCards {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media (max-width: 850px) {
    .firstRowCards, .secondRowCards, .thirdRowCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}