.cardHeader {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    padding: 1rem;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cardsContent {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.option select {
    font-size: 1rem;
    border-radius: 4px;
    padding: 0.6rem;
    border-color: rgb(255, 255, 255, 0.1);
    border-width: 0.2rem;
}

@media (max-width: 850px) {
    .cardsContent {
        justify-content: center;
    }
    
}