.nameSpan { 
    display: flex;
    justify-content: space-between;

}

.nameSpan span {
    padding: 0.75rem;
    font-size: 0.7rem;
    border-radius: 8px;
    background-color: #171924;
}


.partnerSelect {
    display: flex;
    align-items: center;
    gap:3rem;

}

.partnerSelect select {
    background-color:  rgb(255, 255, 255, 0.1);
    border: none;
    border-radius: 8px;
    padding: 0.3rem;
}

.partnerSelect select:hover {
    background-color: rgba(255, 255, 255, 0.055);
    cursor: pointer;
}

.partnerSelect select option {
    text-align: center;
}

.textValue input, .numericValue input, .numberValue input{
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.055);
}

.textValue input, .numericValue input {
    width: 10rem;
}

.partnerValues input {
    border-radius: 8px;
    padding: 0.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.numberValue input {
    width: 5rem;
    text-align: center;
}


.submit input, .submit button {
    border: none;
    background-color:  rgb(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    margin-left: 0rem;
}

.submit button {
    margin-top: 1rem;
}


.formActions button:hover, .formActions input:hover {
    background-color: rgba(255, 255, 255, 0.055);
    cursor: pointer;
}

.formActions {
    display: flex;
    align-items: center;
    gap: 2rem;
}