.table {
    border-radius: 8px;
    height: 40rem;
}


.tableHeader {
    font-size: 1rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableHeader span {
    padding: 0.75rem;
    font-size: 0.7rem;
    border-radius: 8px;
    background-color: #171924;
}

select{
    -webkit-appearance: none; 
    box-shadow: none !important;
    border: none;
    font-size: 1rem;
    outline: none;
}

hr {
    display: block;
    height: 1px;
    width: 3rem;
    border-color: var(--red-icon);
    padding: 0; 
    margin-top: 1rem;
}

.tableContent {
    border: 1px solid salmon solid;
    flex-wrap: nowrap;
}

.tableContentHeader {
    display: flex;
    justify-content: center;
    gap:20rem;
    margin-top: 5rem;
    width: fit-content;
    flex-wrap: nowrap;
}

.col1, .col2, .col3 { 
    min-width: fit-content;
}

.tableContentHeader div {
    display: flex;
}

.tableContentData {
    display: flex;
    gap: 20rem;
}

.tableContentData div {
    margin-top: 2rem;
}

.buttons {
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
}

.buttons button {
    border: none;
    background-color:  rgb(255, 255, 255, 0.1);
    border-radius: 8px;
    width: 5.5rem;
    height: 2.5rem;
    margin-top: 4rem;
    font-size: 1rem;
}

.buttons button:hover {
    background-color: rgba(255, 255, 255, 0.055);
    cursor: pointer;
}

#viewMode {
    display: none;
}
