.headerContainer {
    display: flex;
    justify-content: space-between;
}

.headerLeft {
    font-size: 0.75rem;
    letter-spacing: 0em;
    line-height: 34px;
    display: flex;
    align-items: center;
}

.headerLeft h1 {
    font-weight: 400;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
}

.headerRight > div {
    display:flex;
    gap: 1rem;
}

.headerRight li { 
    
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 3.5rem;
    font-weight: bold;
    margin-left: 1rem;
    font-size: 1rem;
}


@media (max-width: 800px) {
    .headerContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}