.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCard {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25rem;
    padding: 5rem;
    background-color: #171924;
    border-radius: 20px;
    gap: 2rem;
}

.loginHeader, .loginHeader h1 {
    background-color: #171924;
}

.loginContent form {
    display: flex;
    gap:2rem;
    flex-direction: column;
    justify-content: center;
    background-color: #171924;
}

.loginContent form input, .loginContent form input{
    font-size: 1rem;
    padding: 0.75rem;
    border-color: #000000;
    border: none;
    border-radius: 8px;
    outline: none;
}

.loginContent form input[type="submit"]:hover {
    
    cursor: pointer;
}

@media (min-width: 390px) {
    .loginHeader h1 {
        font-size: 1.5rem;
        flex-wrap: nowrap;
        text-align: center;
    }
}








