.card {
    border: 2px solid #FFFFFF0D;
    border-radius: 8px;
    padding: 1.5rem;
    margin-top: 2rem;
    width: 18rem;
}

.cardHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.cardHeader span {
    padding: 0.75rem;
    font-size: 0.7rem;
    border-radius: 8px;
    background-color: #171924;
}

.cardHeader img {
    width: 2rem;
}

.services {
    margin-top: 1rem;
}

.services div {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem;
    background-color: #171924;
    border-radius: 8px;
    margin-top: 0.5rem;
}

.services div span {
    background-color:#171924;
}